nav a {
    text-decoration: none;
    color: #9B9D9E;
}

nav a:hover {
    color: #ffffff;
}

.aspect-ratio {
    aspect-ratio: 3/4;
}

.videogame-card {
    transition: all ease-in-out 0.5s;
}

.videogame-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hover-cursor-pointer:hover {
    cursor: pointer;
}